<div class="pagination">
    <span class="step-links">
        {% if object.has_previous %}
            <a href="?{{ page_request_var }}={{ object.previous_page_number }}{% if request.GET.q  %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object.number }} of {{ object.paginator.num_pages }}.
        </span>

        {% if object.has_next %}
            <a href="?{{ page_request_var }}={{ object.next_page_number }}{% if request.GET.q  %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>